{% extends 'base.html.twig' %}

{% block title %}All Programs{% endblock %}

{% block body %}
<h1>Toutes les séries de la table program : </h1>
    <div class="cardsContainer">
    {% for program in programs %}
            <div class="card">
                <a href="{{ path("program_show", { id: program.id }) }}">
                    <div class="card-content">
                        <h2 class="card-program-title">{{ program.title }}</h2>
                        <h4 class="displayCategory">{{ program.category.name }}</h4>
                        <img class="program-poster" src="{{ program.poster }}" alt="{{program.title}} poster">
                        <p>{{ program.summary }}</p>
                    </div>
                </a>
            </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
